.swiper .swiper-slide-next,
.swiper .swiper-slide-prev {
  position: relative;
  opacity: 0.3;
}

// .swiper .swiper-slide-next {
//   transform: translate3d(0)
//   !important;
// }

// .swiper .swiper-slide-prev {
//   transform: translate3d(calc(-22px + 0%), 25px, -200px) scale(1)
//   // !important;
// }

// .swiper .swiper-slide-next::before {
//   content: '';
//   position: absolute;
//   width: 86%;
//   height: 100%;
//   top: -35px;
//   bottom: 0;
//   left: 42px;
//   right: 0;
//   // background-color: $gold-color;
//   opacity: 0.85;
// }

// .swiper .swiper-slide-prev::before {
//   content: '';
//   position: absolute;
//   width: 95%;
//   height: 95%;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   // background-color: $gold-color;
//   opacity: 0.85;
// }

.swiper-slide-shadow{
  display: none;
}

// [data-swiper-slide-index="2"] {
//   // opacity: 0;
// }